[submodule "ext/glshader"]
	path = ext/glshader
	url = https://github.com/johannes-braun/GLshader.git
[submodule "ext/vulkan/headers"]
	path = ext/vulkan/headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ext/gsl"]
	path = ext/gsl
	url = https://github.com/Microsoft/GSL.git
